@page
@model TqiiLanguageTest.Pages.Admin.CreateTestModel

@{
    Layout = "_Admin";
    ViewData["Title"] = "Create Test";
}

<h1>Create Test</h1>

<h4>Test</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="ils-input-entry form-group">
                <label for="Test_Title" class="control-label">Title</label>
                <input asp-for="Test.Title" class="form-control" />
                <span asp-validation-for="Test.Title" class="text-danger"></span>
            </div>
            <div class="ils-input-entry form-group">
                <label for="Test_NumberQuestions" class="control-label">Number of questions</label>
                <input asp-for="Test.NumberQuestions" class="form-control" />
                <span asp-validation-for="Test.NumberQuestions" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Test.Id" class="form-control" />
            <div class="form-group">
                <input type="submit" value="Create / Edit" class="il-button" />
            </div>
        </form>
    </div>
</div>

@if (Model.Questions.Count > 0)
{
<table class="table" style="margin-top: 50px;">
    <thead>
        <tr>
            <th>
                Question Title
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Questions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                        <a asp-page="./CreateQuestion" asp-route-id="@Model.Test.Id" asp-route-questionid="@item.Id">Edit</a> |
                        <a asp-page="./UploadQuestionRecording" asp-route-id="@item.Id" asp-route-testid="@Model.Test.Id">Upload Recording</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
<a class="il-button" style="width: 200px;" asp-page="./CreateQuestion" asp-route-id="@Model.Test.Id">Create a question</a>
    </div>
}


<div>
    <a href="/Admin/ListTest">Back to List</a>
</div>
<div>
    <a href="/Admin">Back to Admin Page</a>
</div>


