@page
@model TqiiLanguageTest.Pages.Admin.ListRatingModel

@{
    Layout = "_Admin";
    ViewData["Title"] = "List Rating";
}

<h1>Rating Individual Page</h1>

<h2>Test Information</h2>

<p>Email: @Model.Email</p>
<p>User Identification: @Model.UserId</p>
<p>Test: @Model.TestName</p>
<p>Date Ended: @Model.DateEnded</p>

<h2>Rater Information</h2>
<p>Rater Email: @Model.RaterEmail</p>
@foreach (var item in Model.RaterInformation)
{
    <ul>
        <li>
            @item.Item1: @item.Item2.ToString("0.00") -- @item.Item3
        </li>
    </ul>
}
<p>Rater Final Notes: @Model.RaterNotes</p>

<form method="post">
    <input type="hidden" value="@Model.RaterId" name="ratertestid" id="ratertestid" />
    <div class="form-group">
        <input type="submit" value="Remove Rater" style="width: fit-content" class="il-button" />
    </div>
</form>
