@page
@model TqiiLanguageTest.Pages.Admin.ListTestUserModel

@{
    ViewData["Title"] = "List Test Users";
}

<h1>List Test Users</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Email
            </th>
            <th>
                Test
            </th>
            <th>Start</th>
            <th>End</th>
            <th>On Question</th>
            <th>Download</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TestUser) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Test.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeEnd)
            </td>
            <td>
                @item.CurrentQuestionOrder
            </td>
            <td>
                    <a href="/audioanswerdownload/@item.Id">Download Data</a>
            </td>
            <td>
                <a href="#" onclick="deleteTestUser('@item.Id'); return false;">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a href="/Admin">Back to Admin Page</a>
</div>

@section Scripts {
    <script>
        function deleteTestUser(id) {
            if (confirm("This will delete the user's test. Are you sure?")) {
                fetch('/deletetestuser/' + id, {
                    method: 'GET'
                }).then(function (response) {
                    location.reload();
                });
            }
        }
    </script>
}