@page
@model TqiiLanguageTest.Pages.Admin.ListTestUserModel

@{
    Layout = "_Admin";
    ViewData["Title"] = "List Test Users";
}

<h1>List Test Users</h1>

<div class="ils-input-entry form-group">
<label for="take">Number of Items</label>
<select id="take" onchange="">
    <option value="50">50</option>
    <option value="100">100</option>
    <option value="200">200</option>
</select>
</div>

<div class="ils-input-entry form-group">
    <label for="search">Search: </label>
    <input id="search" type="text" value="@(Request.Query["search"])" />
</div>
<button class="il-button" onclick="refresh(); return false;">Refresh</button>

<table class="table">
    <thead>
        <tr>
            <th>
                Test User
            </th>
            <th>
                Test
            </th>
            <th>Start</th>
            <th>End</th>
            <th>On Question</th>
            <th>Download</th>
            <th>Delete</th>
            <th>Retake</th>
            <th>Assign Rater / Score</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TestUser) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserIdentification) (@Html.DisplayFor(modelItem => item.Email))
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Test.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeEnd)
            </td>
            <td>
                @item.CurrentQuestionOrder
            </td>
            <td>
                    <a href="/audioanswerdownload/@item.Id">Download Data</a>
            </td>
            <td>
                <a href="#" onclick="deleteTestUser('@item.Id'); return false;">Delete</a>
            </td>
            <td>
                <a href="#" onclick="rewindTestUser('@item.Id'); return false;">Retake Question</a>
            </td>
                <td>
                    @if (item.Score > 0)
                    {
                        <a href="/testdownload/@item.Id">Score: @item.Score</a>

                    } else
                    {
                        <a href="/Admin/CreateRaterTest?id=@item.Id" target="_blank">Raters:&nbsp;@item.NumberReviewers Completed:&nbsp;@item.NumberReviewerScores </a>
                    }
                </td>
            </tr>
}
    </tbody>
</table>
<hr />
<button class="il-button" onclick="previous(); return false;">Previous</button>
<button class="il-button" onclick="next(); return false;">Next</button>
<label for="page">Page</label>
<input id="page" onchange="changePageNumber" type="text" value="@(Request.Query["skip"])" />
<input id="pagenumber" type="hidden" value="@(Request.Query["skip"])"/>

@if (Request.Query["search"] != "")
{
    <div>
        <a class="il-button" href="/audioanswerdownload/multiple/@Model.TestUserIds">Download All User Data</a>
    </div>

}

<div>
    <a href="/Admin">Back to Admin Page</a>
</div>

@section Scripts {
    <script>
        function deleteTestUser(id) {
            if (confirm("This will delete the user's test. Are you sure?")) {
                fetch('/deletetestuser/' + id, {
                    method: 'GET'
                }).then(function (response) {
                    location.reload();
                });
            }
        }

        function rewindTestUser(id) {
            if (confirm("This will allow the user to retake the last question. Are you sure?")) {
                fetch('/deletetestuser/rewind/' + id, {
                    method: 'GET'
                }).then(function (response) {
                    location.reload();
                });
            }
        }

        function refresh() {
            document.getElementById('pagenumber').value = '1';
            location.href = `/Admin/ListTestUser?take=${document.getElementById('take').value}&search=${document.getElementById('search').value}`;
        }

        function next() {
            if (document.getElementById('pagenumber').value == '') {
                document.getElementById('pagenumber').value = '2';
            } else {
                document.getElementById('pagenumber').value = parseInt(document.getElementById('pagenumber').value) + 1;
            }
            location.href = `/Admin/ListTestUser?take=${document.getElementById('take').value}&search=${document.getElementById('search').value}&skip=${document.getElementById('pagenumber').value}`;
        }

        function previous() {
            if (document.getElementById('pagenumber').value == '') {
                document.getElementById('pagenumber').value = '1';
            } else {
                document.getElementById('pagenumber').value = parseInt(document.getElementById('pagenumber').value) - 1;
            }
            location.href = `/Admin/ListTestUser?take=${document.getElementById('take').value}&search=${document.getElementById('search').value}&skip=${document.getElementById('pagenumber').value}`;
        }

        function changePageNumber() {
            document.getElementById('pagenumber').value = parseInt(document.getElementById('page').value);
            location.href = `/Admin/ListTestUser?take=${document.getElementById('take').value}&search=${document.getElementById('search').value}&skip=${document.getElementById('pagenumber').value}`;
        }

    </script>
}