@page
@model TqiiLanguageTest.Pages.Admin.ListTestUserModel

@{
    Layout = "_Admin";
    ViewData["Title"] = "List Test Users";
}

<h1>List Test Users</h1>

<div class="ils-input-entry form-group">
<label for="take">Number of Items</label>
<select id="take">
    <option value="50">50</option>
    <option value="100">100</option>
    <option value="200">200</option>
</select>
</div>

<div class="ils-input-entry form-group">
    <label for="search">User Search: </label>
    <input id="search" type="text" value="@(Request.Query["search"])" />
</div>
<div class="ils-input-entry form-group">
    <label for="testsearch">Test Title Search: </label>
    <input id="testsearch" type="text" value="@(Request.Query["testsearch"])" />
</div>
<div class="ils-input-entry form-group">
    <label for="filter">Test Filter</label>
    <select id="filter" style="width: 400px;">
        <option value="">All tests</option>
        <option value="not-started" selected="@(Request.Query["filter"] == "not-started")">Tests Not Started</option>
        <option value="in-process" selected="@(Request.Query["filter"] == "in-process")">Tests In Process</option>
        <option value="test-completed" selected="@(Request.Query["filter"] == "test-completed")">Completed Tests</option>
        <option value="restarts" selected="@(Request.Query["filter"] == "restarts")">Tests Restarted</option>
        <option value="need-reviewers" selected="@(Request.Query["filter"] == "need-reviewers")">Tests That Need Raters</option>
        <option value="has-reviewers" selected="@(Request.Query["filter"] == "has-reviewers")">Tests That Have Raters</option>
        <option value="reviews-completed" selected="@(Request.Query["filter"] == "reviews-completed")">Tests Ready To Be Finalized</option>
        <option value="scored" selected="@(Request.Query["filter"] == "scored")">Scored Tests</option>
    </select>
</div>
<div class="ils-input-entry form-group">
    <label for="daterange">Date Range</label>
    <select id="daterange">
        <option value="">All Items</option>
        <option value="cohort1" selected="@(Request.Query["daterange"] == "cohort1")">After 8/12</option>
    </select>
</div>
<div class="ils-input-entry form-group">
    <label for="sort">Sort Options</label>
    <select id="sort">
        <option value="">By Date</option>
        <option value="test" selected="@(Request.Query["sort"] == "test")">By Test</option>
    </select>
</div>


<div style="display: flex; column-gap: 40px; align-items: center; justify-content: space-between;">
<button class="il-button" onclick="refresh(); return false;">Refresh</button>
<div>Page @Model.CurrentPage of @Model.PageCount</div>
<div><label for="page-top">Go to page</label>
<input id="page-top" type="text" />
</div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Test User
            </th>
            <th>
                Test
            </th>
            <th>Timing</th>
            <th>Status</th>
            <th>Realtime Report</th>
            <th>Download</th>
            <th>Delete</th>
            <th>Assign Rater / Score</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TestUser) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserIdentification) (@Html.DisplayFor(modelItem => item.Email))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Test.Title)
            </td>
            <td>
                    @(item.DateTimeStart.HasValue ? Html.DisplayFor(modelItem => item.DateTimeStart) : item.DateTimeScheduled.HasValue ? Html.DisplayFor(modelItem => item.DateTimeScheduled) : "not started") - @(item.DateTimeEnd.HasValue ? Html.DisplayFor(modelItem => item.DateTimeEnd) : item.DateTimeScheduled.HasValue && !item.DateTimeStart.HasValue ? " (scheduled)" : "current")
            </td>
            <td>
                    @(item.DateTimeEnd.HasValue ? "Restarts: " + item.NumberTimesRefreshed : (item.CurrentQuestionOrder == 0 ? "Not Started" : "On Question " + item.CurrentQuestionOrder))
            </td>
            <td>
                <a href="/Admin/RealtimeReport?id=@item.Id" target="_blank">View</a>
            </td>
            <td>
                <a href="/audioanswerdownload/@item.Id">Download Data</a>
            </td>
            <td>
                <a href="#" onclick="deleteTestUser('@item.Id'); return false;">Delete</a>
            </td>
                <td>
                    @if (item.Score > 0)
                    {
                        <a href="/Admin/DetailReport?id=@item.Id" target="_blank">Score: @item.Score</a>

                    }
                    else if (item.DateTimeEnd.HasValue)
                    {
                        <a href="/Admin/CreateRaterTest?id=@item.Id" target="_blank">Raters:&nbsp;@item.NumberReviewers Completed:&nbsp;@item.NumberReviewerScores </a><br />
                        <a href="/testrater/@item.Id">Download Rater Data</a>
                    }
                    else
                    {
                        <span>Still taking test</span>
                    }
                </td>
            </tr>
}
    </tbody>
</table>
<hr />
<button class="il-button" onclick="previous(); return false;">Previous</button>
<button class="il-button" onclick="next(); return false;">Next</button>
<label for="page">Page</label>
<input id="page" type="text" />
<input id="pagenumber" type="hidden" value="@(Request.Query["skip"])"/>

@if (Request.Query["search"] != "")
{
    <div>
        <a class="il-button" href="/audioanswerdownload/multiple/@Model.TestUserIds">Download All User Data</a>
    </div>

}

<div>
    <a href="/Admin">Back to Admin Page</a>
</div>

@section Scripts {
    <script>
        document.getElementById("page").addEventListener("keydown", logKey);
        document.getElementById("page-top").addEventListener("keydown", logKey);

        function logKey(e) {
            if (e.code == 'Enter') {
                if (!Number.isNaN(parseInt(document.getElementById('page').value))) {
                    document.getElementById('pagenumber').value = parseInt(document.getElementById('page').value);
                }
                else if (!Number.isNaN(parseInt(document.getElementById('page-top').value))) {
                    document.getElementById('pagenumber').value = parseInt(document.getElementById('page-top').value);
                } else {
                    document.getElementById('pagenumber').value = '';
                }
                location.href = `/Admin/ListTestUser?take=${document.getElementById('take').value}&search=${document.getElementById('search').value}&sort=${document.getElementById('sort').value}&testsearch=${document.getElementById('testsearch').value}&filter=${document.getElementById('filter').value}&daterange=${document.getElementById('daterange').value}&skip=${document.getElementById('pagenumber').value}`;
            }
        }

        function deleteTestUser(id) {
            if (confirm("This will delete the user's test. Are you sure?")) {
                fetch('/deletetestuser/' + id, {
                    method: 'GET'
                }).then(function (response) {
                    location.reload();
                });
            }
        }

        function refresh() {
            document.getElementById('pagenumber').value = '1';
                location.href = `/Admin/ListTestUser?take=${document.getElementById('take').value}&search=${document.getElementById('search').value}&sort=${document.getElementById('sort').value}&testsearch=${document.getElementById('testsearch').value}&filter=${document.getElementById('filter').value}&daterange=${document.getElementById('daterange').value}`;
        }

        function next() {
            if (document.getElementById('pagenumber').value == '') {
                document.getElementById('pagenumber').value = '2';
            } else {
                document.getElementById('pagenumber').value = parseInt(document.getElementById('pagenumber').value) + 1;
            }
                location.href = `/Admin/ListTestUser?take=${document.getElementById('take').value}&search=${document.getElementById('search').value}&sort=${document.getElementById('sort').value}&testsearch=${document.getElementById('testsearch').value}&filter=${document.getElementById('filter').value}&daterange=${document.getElementById('daterange').value}&skip=${document.getElementById('pagenumber').value}`;
        }

        function previous() {
            if (document.getElementById('pagenumber').value == '') {
                document.getElementById('pagenumber').value = '1';
            } else {
                document.getElementById('pagenumber').value = parseInt(document.getElementById('pagenumber').value) - 1;
            }
                location.href = `/Admin/ListTestUser?take=${document.getElementById('take').value}&search=${document.getElementById('search').value}&sort=${document.getElementById('sort').value}&testsearch=${document.getElementById('testsearch').value}&filter=${document.getElementById('filter').value}&daterange=${document.getElementById('daterange').value}&skip=${document.getElementById('pagenumber').value}`;
        }

    </script>
}