@page
@model TqiiLanguageTest.Pages.Admin.PermissionsModel
@{
    Layout = "_Admin";
    ViewData["Title"] = "Permissions";
}

<h1>Permissions</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Email
            </th>
            <th>
                Admin?
            </th>
            <th>
                Rater?
            </th>
            <th>
                Test Writer?
            </th>
            <th>
                Registration Reviewer?
            </th>
            <th>
                Edit
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Permissions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @(item.IsAdministrator ? "Admin" : "")
                </td>
                <td>
                    @(item.IsReviewer ? "Rater" : "")
                </td>
                <td>
                    @(item.IsItemWriter ? "Test Writer" : "")
                </td>
                <td>
                    @(item.IsRegistrationReviewer ? "Registration Reviewer" : "")
                </td>
                <td>
                    <a href="/Admin/Permissions?id=@item.Id">Edit Person</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<form method="post">
    <div class="ils-input-entry form-group">
        <label for="NewPermissionEmail" class="control-label">Permission Email</label>
        <input asp-for="NewPermissionEmail" class="form-control" />
        <p>Blank out email to delete</p>
    </div>
    <div class="ils-input-entry form-group">
        <label for="NewIsAdmin" class="control-label">Is Admin?</label>
        <input asp-for="NewIsAdmin" class="form-control" />
    </div>
    <div class="ils-input-entry form-group">
        <label for="NewIsReviewer" class="control-label">Is Rater?</label>
        <input asp-for="NewIsReviewer" class="form-control" />
    </div>
    <div class="ils-input-entry form-group">
        <label for="NewIsItemWriter" class="control-label">Is Test Writer?</label>
        <input asp-for="NewIsItemWriter" class="form-control" />
    </div>
    <div class="ils-input-entry form-group">
        <label for="NewIsRegistrationReviewer" class="control-label">Is Registration Reviewer?</label>
        <input asp-for="NewIsRegistrationReviewer" class="form-control" />
    </div>
    <input type="hidden" asp-for="NewId" class="form-control" />
    <div class="ils-input-entry form-group">
        <input type="submit" value="@(Model.NewId == 0 ? "Create" : "Edit")" class="il-button" />
    </div>
</form>


<div>
    <a href="/Admin">Back to Admin Page</a>
</div>
