@page
@model TqiiLanguageTest.Pages.Registration.CourseModel
@{
    ViewData["Title"] = "Registration - Choose Courses";
}

<h1>Choose Courses</h1>
@if (Model.IsAlreadyRegistered)
{
    <p>You have already registered and your information is being evaluated. If you need to change your registration, please contact tqii@education.illinois.edu. </p>
} 
else
{
<p>Welcome to the Training Qualified Interpreters for IEP Meetings registration platform. If you leave this page before the final submission process, your information will be lost and you will need to start over. You can <a id="startover">reload this page to start over</a> at any time.</p>

    <div id="english_parent">
    <h2 id="english_title" style="margin: 1.25em 0 0;">English Language Proficiency</h2>
    <fieldset id="english_fieldset">
        <legend>You will need to prove your English language proficiency through testing or an exemption request.</legend>
        @Html.Raw(Model.EnglishProficiency)
        <ul>
            @foreach (var ep in Model.EnglishProficiencyTests)
            {
                <li>
                    <input type="radio" id="english_@ep.Id" name="english" value="@ep.Id" onchange="enableButton('english')" /> <label for="english_@ep.Id">@ep.TestName (@ep.DateString)</label><br />
                    @ep.Description
                </li>
            }
        </ul>
        <div class="exempt_information">
            <input type="checkbox" id="english_exempt" name="english_exempt" onchange="display('english')" />
            <label for="english_exempt">Do you want to request a English language proficiency testing exemption?</label>
            <div id="english_file" style="display: none;">
                <label for="english_document">Upload a file to document your English language proficiency exemption request. </label>
                <input type="file" id="english_document" name="english_document" onchange="enableButton('english')"/>
            </div>
        </div>
    </fieldset>
    <button class="il-button" disabled id="english_button" onclick="upload('english', false)">Submit English Proficiency Request</button>
    </div>
    <div id="foreign_parent" style="display: none;">
    <h2 id="foreign_title" style="margin: 1.25em 0 0;">Foreign Language Proficiency</h2>
    <fieldset id="foreign_fieldset">
        <legend>You will need to prove your foreign language proficiency through testing or an exemption request.</legend>
        @Html.Raw(Model.ForeignLanguageProficiency)
        <ul>
            @foreach (var ep in Model.ForeignLanguageProficiencyTests)
            {
                <li>
                    <input type="radio" id="foreign_@ep.Id" name="foreign" data-language="@ep.Language" value="@ep.Id" onchange="enableButton('foreign', this)" /> <label for="foreign_@ep.Id">@ep.TestName (@ep.DateString)</label><br />
                    @ep.Description
                </li>
            }
        </ul>
        <div class="ils-input-entry form-group">
            <label for="foreign_language" class="control-label">Indicate which foreign language are you showing proficiency</label>
            <select id="foreign_language" class="form-control" style="width: 100%;" onchange="enableButton('foreign')">
                <option value="">Select your foreign language</option>
                @foreach (var lang in Model.ForeignLanguages)
                {
                    <option value="@lang">@lang</option>
                }
            </select>
        </div>
        <div class="exempt_information">
            <input type="checkbox" id="foreign_exempt" name="foreign_exempt" onchange="display('foreign')" />
            <label for="foreign_exempt">Do you want to request a foreign language proficiency testing exemption?</label>
            <div id="foreign_file" style="display: none;">
                <label for="foreign_document">Upload a file to document your foreign language proficiency exemption request. </label>
                <input type="file" id="foreign_document" name="foreign_document" onchange="enableButton('foreign')" />
            </div>
        </div>
    </fieldset>
    <button class="il-button" disabled id="foreign_button" onclick="upload('foreign', false)">Submit Foreign Language Proficiency Request</button>
    </div>
    <div id="specialed_parent" style="display: none;">
    <h2 id="specialed_title" style="margin: 1.25em 0 0;">Special Education Course</h2>
    <fieldset id="specialed_fieldset">
        <legend>You will need to prove your special education proficiency through a course or an exemption request.</legend>
        @Html.Raw(Model.SpecialEducation)
        <ul>
            @foreach (var ep in Model.SpecialEducationCourses)
            {
                <li>
                    <input type="radio" id="specialed_@ep.Id" name="specialed" value="@ep.Id" onchange="enableButton('specialed')" /> <label for="specialed_@ep.Id">@ep.TestName (@ep.DateString)</label><br />
                    @ep.Description
                </li>
            }
        </ul>
        <div class="exempt_information">
            <input type="checkbox" id="specialed_exempt" name="specialed_exempt" onchange="display('specialed')" />
            <label for="specialed_exempt">Do you want to request a special education proficiency exemption?</label>
            <div id="specialed_file" style="display: none;">
                <label for="specialed_document">Upload a file to document your special education proficiency request.</label>
                <input type="file" id="specialed_document" name="specialed_document" onchange="enableButton('specialed')" />
            </div>
        </div>
    </fieldset>
    <button class="il-button" disabled id="specialed_button" onclick="upload('specialed', false)">Submit Special Education Course Request</button>
    </div>
    <div id="interpreter_parent" style="display: none;">
    <h2 id="interpreter_title" style="margin: 1.25em 0 0;">Interpreter Course</h2>
    <fieldset id="interpreter_fieldset">
        <legend>Please select your Interpreter Course:</legend>
        @Html.Raw(Model.Interpreter)
        <ul>
            @foreach (var ep in Model.InterpreterCourses)
            {
                <li>
                    <input type="radio" id="interpreter_@ep.Id" name="interpreter" value="@ep.Id" /> <label for="interpreter_@ep.Id">@ep.TestName (@ep.DateString)</label><br />
                    @ep.Description
                </li>
            }
        </ul>
    </fieldset>
    <button class="il-button" id="interpreter_button" onclick="upload('interpreter', false)">Enroll for the Interpreter Course</button>
    </div>

    <div class="results" style="padding: 10px 50px; background: var(--il-cloud-1); margin-top: 50px;">
    <div id="complete" style="display: none;">
        <h2 style="margin: 1.25em 0 0;">Registration is complete</h2>
        @Html.Raw(Model.Conclusion)
    </div>
    <h2 style="margin: 1.25em 0 0; font-size: 24px;">Results</h2>
    <p id="english_results" style="display: none;"></p>
    <p id="foreign_results" style="display: none;"></p>
    <p id="specialed_results" style="display: none;"></p>
    <p id="interpreter_results" style="display: none;"></p>
    </div>


    <div style="display: none;" id="cohortpersonid">@Model.CohortPersonId</div>
    <div style="display: none;" id="languageoverride"></div>
}

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", (event) => {
            document.getElementById('startover').setAttribute('href', window.location.pathname + window.location.search);
            if (document.querySelectorAll('input[name=english]').length == 1) {
                document.querySelector('input[name=english]').checked = true;
                document.getElementById('english_button').disabled = false;
            }
            if (document.querySelectorAll('input[name=foreign]').length == 1) {
                document.querySelector('input[name=foreign]').checked = true;
            }
            if (document.querySelectorAll('input[name=specialed]').length == 1) {
                document.querySelector('input[name=specialed]').checked = true;
                document.getElementById('specialed_button').disabled = false;
            }
            if (document.querySelectorAll('input[name=interpreter]').length == 1) {
                document.querySelector('input[name=interpreter]').checked = true;
                upload('interpreter', true);
            }
            document.getElementById('foreign_parent').style.display = 'none';
            document.getElementById('specialed_parent').style.display = 'none';
            document.getElementById('interpreter_parent').style.display = 'none';
        });

        function enableButton(id, value) {
            let language = '';
            if (value != null && value !== undefined) {
                language = value.getAttribute('data-language');
                document.getElementById('languageoverride').value = language;
                document.getElementById(id + '_language').disabled = language != '';
            }
            if (document.getElementById(id + '_exempt').checked && document.getElementById(id + '_document').files.length == 0) {
                document.getElementById(id + '_button').disabled = true;
            } else if (document.querySelector('input[name="' + id + '"]:checked') == null) {
                document.getElementById(id + '_button').disabled = true;
            } else if (id == 'foreign' && document.getElementById('foreign_language').value == '' && (language == null || language == '')) {
                document.getElementById(id + '_button').disabled = true;
            } else {
                document.getElementById(id + '_button').disabled = false;
            }
        }

        function display(id) {
            if (document.getElementById(id + '_exempt').checked) {
                document.getElementById(id + '_file').style.display = '';
            } else {
                document.getElementById(id + '_file').style.display = 'none';
            }
            enableButton(id);
        }

        function upload(id, automatic) {
            var fd = new FormData();
            let isComplete = true;
            let isExempt = false;
            var file_data = document.getElementById(id + '_document');
            fd.append('testtype', id);
            if (id == 'interpreter') {
                fd.append('exempt', false);
            } else {
                isExempt = document.getElementById(id + '_exempt').checked;
                fd.append('exempt', isExempt);
                if (document.getElementById(id + '_exempt').checked) {
                    if (file_data == null || file_data.files.length == 0) {
                        isComplete = false;
                    } else {
                        fd.append('file_0', file_data.files[0]);
                        fd.append('filename', file_data.files[0].name)
                    }
                }
            }
            if (id == 'foreign') {
                let languageOverride = document.getElementById('languageoverride').value;
                if (languageOverride == '') {
                    languageOverride = document.getElementById(id + '_language').value;
                } 
                fd.append('language', languageOverride);
                if (languageOverride == '') {
                    isComplete = false;
                }
            } else {
                fd.append('language', '');
            }
            fd.append('testid', document.querySelector('input[name="' + id + '"]:checked').value);
            fd.append('cohortpersonid', document.getElementById('cohortpersonid').innerText);
            if (document.querySelector('input[name="' + id + '"]:checked').value == '') {
                isComplete = false;
            }
            if (document.getElementById('cohortpersonid').innerText == '') {
                isComplete = false;
            }
            if (isComplete) {
                fetch('/Registration/Course', {
                    method: 'POST',
                    body: fd
                }).then(function (response) {
                    document.getElementById(id + '_results').innerText = isExempt ? 'You have requested an exemption from the ' + document.getElementById(id + '_title').innerText : (automatic ? 'You have automatically been enrolled for the ' + document.getElementById(id + '_title').innerText : 'You have enrolled for the ' + document.getElementById(id + '_title').innerText);
                    document.getElementById(id + '_results').style.display = '';
                    if (document.getElementById('english_results').style.display == '' &&
                        document.getElementById('foreign_results').style.display == '' &&
                        document.getElementById('specialed_results').style.display == '' &&
                        document.getElementById('interpreter_results').style.display == '') {
                            document.getElementById('complete').style.display = '';
                            document.getElementById('english_parent').style.display = 'none';
                            document.getElementById('foreign_parent').style.display = 'none';
                            document.getElementById('specialed_parent').style.display = 'none';
                            document.getElementById('interpreter_parent').style.display = 'none';
                            var fdComplete = new FormData();
                            fdComplete.append('cohortpersonid', document.getElementById('cohortpersonid').innerText);
                            fdComplete.append('complete', true);
                            fetch('/Registration/Course', {
                                method: 'POST',
                                body: fdComplete
                            });
                    } else {
                        if (!automatic) {
                            document.getElementById('english_parent').style.display = 'none';
                            document.getElementById('foreign_parent').style.display = 'none';
                            document.getElementById('specialed_parent').style.display = 'none';
                            document.getElementById('interpreter_parent').style.display = 'none';
                            if (id == 'english') {
                                document.getElementById('foreign_parent').style.display = '';
                            } else if (id == 'foreign') {
                                document.getElementById('specialed_parent').style.display = '';
                            } else if (id == 'specialed') {
                                document.getElementById('interpreter_parent').style.display = '';
                            }
                        }
                    }
                });
            } else {
                alert('Please complete all required fields before submitting.');
            }
        }
    </script>
}