@page
@model TqiiLanguageTest.Pages.BasicAnswerModel
@{
}

<h1>Interactive Reading</h1>

<p>Answering @Model.Answer?.CurrentQuestionNumber of @Model.Answer?.TotalQuestions</p>

@if (Model.Answer.HasInteractiveReadingImage)
{
    <div>
        <img src="/Image/InteractiveReading/@Model.Answer.Guid" alt="">
    </div>
}

<p class="interactive" id="display-after-recording">@Html.Raw(Model.Answer?.InteractiveReadingAnswer)</p>

<div id="question" class="hidden">@Model.Answer?.Guid</div>

<div class="flexbox buttons">
    @foreach (var a in Model.Answer.ButtonInteractiveReadingOptions)
    {
        <a class="il-button">@a</a>
    }
</div>

<div>
    <p id="countdown">@Model.Answer?.DurationAnswerInSeconds</p>
</div>


<form method="post" class="hidden" id="form">
    <input id="answer" type="hidden" value="@Model.Answer?.Guid" name="answerguid">
    <input id="answertext" type="hidden" name="answertext">
    <input id="id" type="hidden" name="id">
</form>

@section Scripts {
    <script src="~/js/basicanswer.js" asp-append-version="true"></script>
}
