@page
@model TqiiLanguageTest.Pages.QuestionModel
@{
}

<h1>@Model.Question.QuestionTitle</h1>

@if (!Model.Question.IsIntroduction && Model.Question.QuestionType == Models.QuestionEnum.SentenceRepetition)
{
    <p>On Question @Model.Question?.CurrentQuestionNumber of @Model.Question?.TotalQuestions</p>
}

<p class="instruction">@Model.Question.IntroductionText</p>

@if (Model.Question.HasIntroductionImage)
{
    <div>
        <img src="/Image/Introduction/@Model.Question.Guid" alt="">
    </div>
}


@if (Model.Question.HasAudio)
{
    <p>
        <img src="/img/speaker.png" alt="Icon of speaker" />
        <a id="manual_link" style="display: none;">Go to next page</a>
    </p>
}
else
{
    <p>
        No audio available. <a id="manual_link" class="il-button">Go to next page</a>
    </p>
}

<div id="question" class="hidden">@Model.Question?.Guid</div>
<div id="route" class="hidden">@Model.Question?.Route</div>

@if (Model.Question.IsIntroduction && Model?.Question?.DurationAnswerInSeconds > 0)
{
<div>
    <p id="countdown">@Model?.Question?.DurationAnswerInSeconds</p>
</div>
}


@if (Model.Question.IsIntroduction)
{
    <p><a class="il-button" id="continue_link">Continue</a></p>
}
else
{
    <a style="display: none;" id="continue_link">Continue</a>
}

@section Scripts {
    <script src="~/js/question.js?cache=9" asp-append-version="true"></script>
}
