@page
@model TqiiLanguageTest.Pages.TestHomepageModel
@{
}
<h1>TQII Language test home page</h1>

<h2>Instructions</h2>

<p>The TQII Language Proficiency Test has three modules, and all items within each module are timed. The first module is "Sentence Repetition," the second module is "Integrated Speaking," and the third module is "Interactive Reading."</p>

<p>For each module, you will see content with various topics related to Individualized Education Program (IEP) meetings. IEP meetings are parts of special education services used to lay out the special education instructions, supports, and services a student needs to thrive in school. You might also encounter some conditions that will qualify a student for an IEP. These conditions include but are not limited to ADHD (Attention-deficit/hyperactivity disorder, where the patient exhibits an ongoing pattern of inattention and/or hyperactivity-impulsivity that interferes with functioning or development), reading disability (difficulties reading individual words and can lead to problems understanding text), etc.</p>

<p>We understand that some aspects of the TQII Language Proficiency Test may be new to you. To ensure you are fully prepared, we offer a practice session to acquaint you with the test format. This session will include a comprehensive overview and guided exploration of the tasks you will encounter. It is an excellent opportunity for you to become comfortable with the test structure, enabling you to approach the TQII Language Proficiency Test with confidence. Following the completion of your practice session, you will be promptly directed to the TQII Language Proficiency Test.</p>

<p>Now, please click “Start Practice TQII Language Proficiency Test” to start your practice session. Or, if you have already finished the practice session, you can click “Start TQII Language Proficiency Test” to start your actual TQII Language Proficiency test.</p>


<h2>Disclaimer</h2>

<p>
    Please be aware that applicants must successfully complete the requirements set forth in 23 Ill. Admin. Code 226.800(k) and adhere to the Code of Ethics for Qualified Interpreters in order to receive the qualified interpreter designation. Additionally, the applicant is required to verify that the information the applicant submits as part of the application, training, and/or assessment process in order to receive the qualified interpreter designation is accurate, to the best of the applicant’s knowledge.  The failure of an applicant to adhere to the Code of Ethics or submit accurate information as part of the application, training, and/or assessment process may result in the applicant being disqualified from receiving the qualified interpreter designation. If ISBE reasonably suspects that the applicant violated the Code of Ethics or knowingly misrepresented information in the application, training, and/or assessment process in order to receive the qualified interpreter designation, ISBE may refer the applicant for an investigation of the potential misconduct to any and all agencies or certificating entities with which the applicant holds professional licenses or certificates.
</p>

<div class="ils-input-disclaimer">
    <label for="continue-checkbox">
        I have read and agree with the above information.
    </label>
    <input id="continue-checkbox" type="checkbox" onclick="document.getElementById('shade').style.visibility = this.checked ? 'hidden' : '';">
</div>

<div style="margin-top: 20px;position: relative;">
    <div id="shade" style="position: absolute; height: 100%; width: 100%; z-index: 9; backdrop-filter: blur(3px); background: rgba(225, 225, 225, .5);"></div>

<h2>TQII Language Proficiency Test</h2>

@if (Model.TestObjects == null || Model.TestObjects.Count == 0)
{
    <p>You do not have any tests available at this time. </p>
}


@if (Model.TestObjects != null)
{
    @foreach (var testObject in Model.TestObjects)
    {
        <h3>Language: @testObject.Language</h3>

        @if (testObject.PracticeGuid != null && testObject.PracticeGuid != Guid.Empty)
        {
            <div>
                <a href="/Starting?id=@testObject.PracticeGuid" class="il-button" id="continue">Start Practice TQII @testObject.Language Language Proficiency Test</a>
            </div>
        }
        @if (testObject.TimeExpired.HasValue && testObject.TimeExpired.Value < DateTime.Now)
        {
            <p>Your test has expired on @testObject.TimeExpired.Value.ToString("F") (all times are Central). Please contact TQII to schedule a re-test. </p>
        } else if (!Model.DidUserCompleteAnyTests) {
            <p>You need to complete a practice test before taking the actual test.</p>
        }
        else if (testObject.TimeActive.HasValue && testObject.TimeActive.Value > DateTime.Now)
        {
            <p>Your test is scheduled at @testObject.TimeActive.Value.ToString("F") (all times are Central)</p>
            <div>
                <a href="/TestHomepage" class="il-button">Refresh Page</a>
            </div>
        }
        else
        {
            <div>
                <a href="/Starting?id=@testObject.Guid" class="il-button" id="continue">Start TQII @testObject.Language Language Proficiency Test</a>
            </div>
        }
    }
}
</div>