@page
@model TqiiLanguageTest.Pages.Reviewer.ReviewModel
@{
    Layout = "_Admin";
    ViewData["Title"] = "Review Test";
}

<h1>Review Test</h1>
<div style="display: flex;margin-top: 10px;column-gap: 10px;">
    <div style="flex-basis: 0%;flex-grow: 1;background: var(--il-gray-1);">
        <ul>
            @if (Model.OtherAnswerList.Count > 0) {
                <li>
                        <a href="@Model.UrlString">List of all Answers</a>
                </li>
            }
            @foreach (var item in Model.Answers)
            {
                <li>
                    <a class="@(item.Item5 ? "flagged" : item.Item4 ? "answered" : "")" href="@Model.UrlInfo(item.Item1, item.Item3)">@item.Item2</a>
                </li>
            }
            <li>
                <a href="@Model.UrlInfo(0, 0)">Finalize</a>: (@Model.NumberAnswered)
            </li>
        </ul>
    </div>
    <div style="flex-basis: 0%; flex-grow: 3;">
        @if (Model.Answer == null && Model.OtherAnswerList.Count > 0)
        {
            <div class="otheranswer-table">
            <h2>List of Answers</h2>
            @foreach (var item in Model.Answers)
            {
                <p>
                    <a href="@Model.UrlInfo(item.Item1, item.Item3)">@item.Item2</a>
                </p>
                <table>
                    <caption>Other ratings given to this answer</caption>
                    <tr>
                                <th>Person</th>
                                <th>Score</th>
                        <th>Score Text (used in complex rubrics)</th>
                        <th>Notes</th>
                        <th>Technical Disqualified</th>
                        <th>Malpractice</th>
                    </tr>
                    @foreach (var otherAnswer in Model.OtherAnswerListById(Model.OtherAnswerList, item.Item1))
                    {
                        <tr>
                            <td>Answer</td>
                            <td>@otherAnswer.Score</td>
                            <td>@otherAnswer.ScoreText</td>
                            <td>@otherAnswer.Notes</td>
                            <td>@(otherAnswer.IsDisqualified ? "Yes" : "No")</td>
                            <td>@(otherAnswer.IsSuspicious ? "Yes" : "No")</td>
                                    </tr>
                    }
                        @foreach (var otherAnswer in Model.OtherAnswerListById(Model.OtherAnswerListFinal, item.Item1))
                        {
                                    <tr>
                                                    <td>Autograded</td>
                                                    <td>@otherAnswer.Score</td>
                                        <td>@otherAnswer.ScoreText</td>
                                        <td>@otherAnswer.Notes</td>
                                        <td>@(otherAnswer.IsDisqualified ? "Yes" : "No")</td>
                                        <td>@(otherAnswer.IsSuspicious ? "Yes" : "No")</td>
                                    </tr>
                        }
                        </table>
            }
            </div>

            <h2>Summary of Rater Information</h2>
            @foreach (var item in Model.AssignedRaters)
            {
                <ul>
                    <li>
                        @item.Item1 @item.Item2: @item.Item3
                    </li>
                </ul>
            }

        }
        @if (Model.Answer != null)
        {
        <h2>@Model.Answer.Question.Title</h2>

            @if (Model.Answer.Question.IntroductionText != "")
            {
                <p>@Model.Answer.Question.IntroductionText</p>
            }
            <div>
                <img src="/Image/Introduction/@Model.Answer.QuestionGuid" alt="">
            </div>

            <p>Question Audio</p>
        <p>
            <audio controls controlslist="nodownload">
                <source src="/AudioReviewer/question/@Model.Answer.QuestionId" type="audio/ogg">
                Your browser does not support the audio element.
            </audio>
        </p>
        @if (Model.Answer.Question.TranscriptLink != "")
        {
            <p><a href="@Model.Answer.Question.TranscriptLink" target="_blank">Transcript of question</a></p>
        }
        <p>Question Text: @Model.Answer.Question.SentenceRepetionText</p>


            @if (Model.Answer.NumberTimesRefreshed > 0)
            {
                <p><strong>Warning -- user accessed this answer extra times: @Model.Answer.NumberTimesRefreshed</strong></p>
            }

        @if (Model.Answer.Text != "" && Model.Answer.Question.InteractiveReadingAnswer != "")
        {
            <p><strong>Interactive Reading: </strong>@Model.Answer.Question.InteractiveReadingAnswer</p>
            <p><strong>Answer: </strong>@Model.Answer.Text</p>
                <p><strong>Key: </strong>@Model.Answer.Question.InteractiveReadingOptionsAnswerKey</p>
        }
        else if (Model.Answer.Text != "" && Model.Answer.Question.QuestionText != "")
        {
            <p><strong>Question: </strong>@Model.Answer.Question.QuestionText</p>
            <p><strong>Answer: </strong>@Model.Answer.Text</p>
        }
        else if (Model.Answer.Text != "")
        {
            <p><strong>Answer: </strong>@Model.Answer.Text</p>
        }
            @if (Model.Answer.Question.BasicQuestion1 != "")
            {
                <p><strong>Question #1: </strong>@Model.Answer.Question.BasicQuestion1</p>
                <p><strong>Answer #1: </strong>@Model.Answer.BasicAnswers1</p>
                <p><strong>Answer Key #1: </strong>@Model.Answer.Question.BasicAnswerKey1</p>
            }

            @if (Model.Answer.Question.BasicQuestion2 != "")
            {
                <p><strong>Question #2: </strong>@Model.Answer.Question.BasicQuestion2</p>
                <p><strong>Answer #2: </strong>@Model.Answer.BasicAnswers2</p>
                <p><strong>Answer Key #2: </strong>@Model.Answer.Question.BasicAnswerKey2</p>
            }

            @if (Model.Answer.Question.BasicQuestion3 != "")
            {
                <p><strong>Question #3: </strong>@Model.Answer.Question.BasicQuestion3</p>
                <p><strong>Answer #3: </strong>@Model.Answer.BasicAnswers3</p>
                <p><strong>Answer Key #3: </strong>@Model.Answer.Question.BasicAnswerKey3</p>
            }
            <div>
                <img src="/Image/Question/@Model?.Answer?.QuestionGuid" alt="">
            </div>
            <p>Answer Audio</p>
            <p>
                <audio controls controlslist="nodownload">
                    <source src="/AudioReviewer/answer/@Model.Answer.Id" type="audio/ogg">
                    Your browser does not support the audio element.
                </audio>
            </p>
            @if (Model.OtherAnswerList.Count != 0)
            {
                <section class="other-ratings">
                    <h3>Other Ratings</h3>
                    <p>You are giving a final grade based on the other ratings given. Please use these ratings in your final decision. </p>
                    <table>
                        <caption>Other ratings given to this answer</caption>
                        <tr>
                            <th>#</th>
                            <th>Score</th>
                            <th>Score Text (used in complex rubrics)</th>
                            <th>Notes</th>
                                <th>Technical Disqualified</th>
                                <th>Malpractice</th>
                                </tr>
                        @foreach (var otherAnswer in Model.OtherAnswerList)
                        {
                            <tr>
                                <td>@otherAnswer.Id</td>
                                <td>@otherAnswer.Score</td>
                                <td>@otherAnswer.ScoreText</td>
                                <td>@otherAnswer.Notes</td>
                                <td>@(otherAnswer.IsDisqualified ? "Yes" : "No")</td>
                                            <td>@(otherAnswer.IsSuspicious ? "Yes" : "No")</td>
                                        </tr>
                        }
                    </table>
                </section>
            }


            @if (Model.RubricThinQuestions.Count > 0)
            {
            <h3>Your Rating</h3>
            <form method="post">
            <input type="hidden" asp-for="Answer.Id" class="form-control" />
                    @foreach (var question in Model.RubricThinQuestions)
                    {
                        <div class="ils-input-entry-radio ratings">
                            <input type="hidden" value="@question.Weight" name="@question.WeightId">
                            <input type="hidden" value="@question.Title" name="@question.TitleId">
                            <div style="padding-top: 3px;"><p>@question.Title </p><p> @question.Description</p></div>
                            @foreach (var answer in question.Answers)
                            {
                                <input type="radio" id="@answer.Id" name="@question.HtmlName" value="@answer.Value" checked="@(answer.IsSelected)">
                                <div>
                                <label for="@answer.Id">
                                    @answer.Value: @answer.Title
                                    @Html.Raw(answer.Description)
                                </label>
                                    <ul style="margin: 0 0 20px 0;">
                                @foreach (var descriptor in answer.Descriptors)
                                {
                                    <li>@Html.Raw(descriptor)</li>
                                }
                                </ul>
                                </div>
                            }
                        </div>
                    }

            <div class="ils-input-entry form-group">
                <label for="notes" class="control-label">
                    Notes:
                </label>
                <textarea class="ils-input-long form-control" id="notes" name="notes">@Model.RaterNotes</textarea>
            </div>
            <div style="display: flex;">
                <div class="ils-input-entry form-group">
                    <label for="isdisqualified" class="control-label">
                        Disqualify this question because of technical issues:
                    </label>
                    <input type="checkbox" class="ils-input form-control" id="isdisqualified" name="isdisqualified" checked="@Model.IsDisqualified">
                </div>
                    <div class="ils-input-entry form-group">
                    <label for="issuspicious" class="control-label">
                        Mark this as malpractice:
                    </label>
                                    <input type="checkbox" class="ils-input form-control" id="issuspicious" name="issuspicious" checked="@Model.IsSuspicious">
                </div>
                <div class="ils-input-entry form-group">
                    <label for="isflagged" class="control-label">
                                Flag this for later review:
                    </label>
                                    <input type="checkbox" class="ils-input form-control" id="isflagged" name="isflagged" checked="@Model.IsFlagged">
                </div>
            </div>
            <input type="hidden" value="@Model.Id" name="id">
            <input type="hidden" value="@Model.RaterId" name="raterid">
            <input type="hidden" value="@Model.AnswerId" name="answerid">
            <input type="hidden" value="@Model.NextAnswerId" name="nextid">
            <div class="form-group">
                <input type="submit" value="Mark Question" class="il-button" style="width: fit-content;"/>
            </div>
            </form>
            }
            else if (Model.Answer.QuestionType == Models.QuestionEnum.IntegratedSpeaking || Model.Answer.QuestionType == Models.QuestionEnum.SentenceRepetition)
            {
                <form method="post">
                    <input type="hidden" asp-for="Answer.Id" class="form-control" />
                    <div class="ils-input-entry-radio ratings">
                        <p>Rating</p>
                        <input type="radio" id="level_4" name="level" value="4" checked="@(Model.Rating == 4)">
                        <label for="level_4">
                            4: Exact repetition
                            <span>
                                Speaker repeats the prompt sentence <strong>exactly</strong> (word for word). Omission, addition, or change of one function word (e.g., <em>please, any, for</em>), or change of order of content words, are allowed. Minor content omissions (e.g., <em>Friday, today</em>) may be allowed.
                                <br />Very minor grammatical mistakes or lapses(e.g., agreement) do not change the meaning of the sentence.
                                <br />Listener would be fully informed of the original information.
                            </span>
                        </label>
                        <input type="radio" id="level_3" name="level" value="3" checked="@(Model.Rating == 3)">
                        <label for="level_3">
                            3: Accurate meaning
                            <span>
                                Speaker may not repeat the prompt sentence exactly, but the response retains the <strong>full meaning</strong> of the original sentence. Omissions or changes of words/phrases are allowed but meaning does not change substantially.
                                <br />Very minor grammatical mistakes or lapses (e.g., agreement) do not change the meaning of the sentence.
                                <br />Listener would be fully informed of the original meaning despite changes.
                            </span>
                        </label>

                        <input type="radio" id="level_2" name="level" value="2" checked="@(Model.Rating == 2)">
                        <label for="level_2">
                            2: Approximate meaning
                            <span>
                                Speaker repeats the <strong>approximate meaning</strong> of the prompt. Omissions or alterations may include substantive content, such as final words or phrases (e.g., interventions), but meaning is largely preserved.
                                <br />Response may contain grammatical, lexical, or phonological errors that may slightly impede meaning.
                                <br />Listener would be informed of the main idea of the original meaning despite omissions.
                            </span>
                        </label>
                        <input type="radio" id="level_1" name="level" value="1" checked="@(Model.Rating == 1)">
                        <label for="level_1">
                            1: Incomplete meaning
                            <span>
                                Speaker repeats <strong>incomplete information</strong> from the prompt, conveying an idea which may change the main idea of the prompt due to omissions or alterations.
                                <br />Response may have major grammatical, lexical, or phonological errors that impede meaning.
                                <br />Listener would not be fully informed by the response
                            </span>
                        </label>

                        <input type="radio" id="level_0" name="level" value="0" checked="@(Model.Rating == 0)">
                        <label for="level_0">
                            0: Distorted meaning
                            <span>
                                Speaker may repeat few words from the prompt that do not convey coherent meaning. Response may be largely unintelligible or silent.
                                <br />Listener would not be informed by the response.
                            </span>
                        </label>

                    </div>

                    <div class="ils-input-entry form-group">
                        <label for="notes" class="control-label">
                            Notes:
                        </label>
                        <textarea class="ils-input-long form-control" id="notes" name="notes">@Model.RaterNotes</textarea>
                    </div>
                            <div style="display: flex;">
                                <div class="ils-input-entry form-group">
                                    <label for="isdisqualified" class="control-label">
                                        Disqualify this question because of technical issues:
                                    </label>
                                    <input type="checkbox" class="ils-input form-control" id="isdisqualified" name="isdisqualified" checked="@Model.IsDisqualified">
                                </div>
                                 <div class="ils-input-entry form-group">
                                    <label for="issuspicious" class="control-label">
                                        Mark this as malpractice:
                                    </label>
                                                    <input type="checkbox" class="ils-input form-control" id="issuspicious" name="issuspicious" checked="@Model.IsSuspicious">
                                </div>
                                <div class="ils-input-entry form-group">
                                    <label for="isflagged" class="control-label">
                                                Flag this for later review:
                                    </label>
                                                    <input type="checkbox" class="ils-input form-control" id="isflagged" name="isflagged" checked="@Model.IsFlagged">
                                </div>
                            </div>
                            <input type="hidden" value="@Model.Id" name="id">
                    <input type="hidden" value="@Model.RaterId" name="raterid">
                    <input type="hidden" value="@Model.AnswerId" name="answerid">
                    <input type="hidden" value="@Model.NextAnswerId" name="nextid">
                    <div class="form-group">
                        <input type="submit" value="Mark Question" class="il-button" style="width: fit-content;" />
                    </div>
                </form>
            }
            else if (Model.Answer.QuestionType == Models.QuestionEnum.BasicQuestions || Model.Answer.QuestionType == Models.QuestionEnum.InteractiveReading)
            {
                <form method="post">
                    <input type="hidden" asp-for="Answer.Id" class="form-control" />
                    <div class="ils-input-entry form-group">
                        <label for="level" class="control-label">
                            Score:
                        </label>
                        <input type="text" class="form-control" id="level" name="level" value="@Model.Rating">
                    </div>
                    <div class="ils-input-entry form-group">
                        <label for="notes" class="control-label">
                            Notes:
                        </label>
                        <textarea class="ils-input-long form-control" id="notes" name="notes">@Model.RaterNotes</textarea>
                    </div>
                            <div style="display: flex;">
                        <div class="ils-input-entry form-group">
                            <label for="isdisqualified" class="control-label">
                                Disqualify this question because of technical issues:
                            </label>
                            <input type="checkbox" class="ils-input form-control" id="isdisqualified" name="isdisqualified" checked="@Model.IsDisqualified">
                        </div>
                         <div class="ils-input-entry form-group">
                            <label for="issuspicious" class="control-label">
                                Mark this as malpractice:
                            </label>
                                    <input type="checkbox" class="ils-input form-control" id="issuspicious" name="issuspicious" checked="@Model.IsSuspicious">
                        </div>
                        <div class="ils-input-entry form-group">
                            <label for="isflagged" class="control-label">
                                        Flag this for later review:
                            </label>
                                    <input type="checkbox" class="ils-input form-control" id="isflagged" name="isflagged" checked="@Model.IsFlagged">
                        </div>
                    </div>
                    <input type="hidden" value="@Model.Id" name="id">
                    <input type="hidden" value="@Model.RaterId" name="raterid">
                    <input type="hidden" value="@Model.AnswerId" name="answerid">
                    <input type="hidden" value="@Model.NextAnswerId" name="nextid">
                    <div class="form-group">
                        <input type="submit" value="Mark Question" class="il-button" style="width: fit-content;" />
                    </div>
                </form>
            }

        }
        @if (Model.IsFinal && Model.CanFinalize)
        {
            <h2>Finalize Test</h2>
            <p>Note that this will lock the test for this reviewer.</p>
            <form method="post">
                <div class="ils-input-entry form-group">
                <label for="notes" class="control-label">
                    Notes:
                </label>
                <textarea class="ils-input-long form-control" id="notes" name="notes"></textarea>
            </div>
            <input type="hidden" value="@Model.Id" name="id">
            <input type="hidden" value="@Model.RaterId" name="raterid">
            <div class="form-group">
                <input type="submit" value="Finalize Test" class="il-button" style="width: fit-content;"/>
            </div>
            </form>
        }
        @if (Model.IsFinal && !Model.CanFinalize)
        {
            <h2>Finalize Test</h2>
            <p>Note that this will lock the test for this reviewer.</p>
            <p>All answers must be graded before finalizing test.</p>
        }


    </div>

</div>

